@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.main06 {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px 0px;

  .for-center-main06 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include breakpoint(desktop) {
      width: 90%;
    }

    @include breakpoint(laptop-sm) {
      width: 95%;
    }

    @include breakpoint(tablet-lg){
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .heading-paragraphs {
      // border: 2px solid green;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include breakpoint(tablet-lg){
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      h2 {
        font-size: 40px;
        padding-bottom: 25px;
        font-weight: 600;
        color: #3e3e3e;
        line-height: 1.3;

        @include breakpoint(desktop) {
          font-size: 43px;
        }

        @include breakpoint(laptop) {
          font-size: 37px;
        }

        @include breakpoint(laptop-md) {
          font-size: 36px;
        }

        @include breakpoint(tablet-lg) {
          font-size: 35px;
          text-align: center;
        }

        @include breakpoint(mobile-lg){
          font-size: 29px;
        }

        @include breakpoint(mobile-sm){
          font-size: 27px;
        }
      }

      p {
        padding-bottom: 16px;
        line-height: 1.5;
        color: #8d8d8d;

        @include breakpoint(tablet-lg){
          text-align: center;
        }

        @include breakpoint(mobile-lg){
          font-size: 15px;
        }
      }

      h3 {
        font-size: 20px;
        padding-bottom: 18px;
        font-weight: 490;

         @include breakpoint(tablet-lg){
          text-align: center;
        }

        @include breakpoint(mobile-lg){
          font-size: 19px;
        }

        @include breakpoint(mobile){
          font-size: 17px;
        }
      }

      p {
        line-height: 1.5;
        font-size: 16px;
        color: #8d8d8d;

         @include breakpoint(tablet-lg){
          text-align: center;
        }

         @include breakpoint(mobile-lg){
          font-size: 15px;
        }
      }

      .button-2 {
        padding-top: 30px;
      }
    }

    .one-last-img {
      // border: 2px solid green;
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoint(tablet-lg){
        width: 90%;
        margin-top: 35px;
      }

      img {
        width: 100%;
      }
    }
  }
}
