@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.main01 {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 85px 0px;

  @include breakpoint(xl-desktop) {
    padding: 65px 0px;
  }

  @include breakpoint(desktop) {
    padding: 50px 0px;
  }

  @include breakpoint(tablet-lg) {
    padding: 60px 0px;
  }

  @include breakpoint(tablet) {
    padding: 40px 0px;
  }

  .for-center-main01 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(desktop) {
      width: 90%;
    }

    @include breakpoint(laptop-sm){
      width: 95%;
    }

    @include breakpoint(tablet-lg) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .part-one {
      // border: 2px solid green;
      width: 55%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include breakpoint(laptop-sm){
        width: 47%;
      }

      @include breakpoint(tablet-lg) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      h2 {
        font-size: 40px;
        padding-bottom: 25px;
        font-weight: 600;
        width: 90%;
        color: #3e3e3e;
        line-height: 1.3;

        @include breakpoint(desktop) {
          font-size: 43px;
          width: 100%;
        }

        @include breakpoint(laptop) {
          width: 100%;
          font-size: 37px;
        }

        @include breakpoint(laptop-md) {
          font-size: 36px;
          padding-bottom: 20px;
        }

        @include breakpoint(tablet-lg) {
          font-size: 35px;
          text-align: center;
          width: 100%;
          padding-bottom: 30px;
        }

        @include breakpoint(tablet) {
          font-size: 35px;
          width: 100%;
        }

        @include breakpoint(mobile-lg) {
          font-size: 29px;
          width: 100%;
        }

        @include breakpoint(mobile-sm) {
          font-size: 27px;
        }

        @include breakpoint(mobile-xs) {
          font-size: 27px;
        }

        @include breakpoint(mobile-xxs) {
          font-size: 26px;
        }
      }

      p {
        font-size: 16px;
        padding-bottom: 25px;
        line-height: 1.7;
        width: 90%;
        color: #8d8d8d;

        @include breakpoint(desktop) {
          width: 95%;
        }

        @include breakpoint(laptop) {
          font-size: 15px;
        }

        @include breakpoint(laptop-md) {
          font-size: 15px;
          padding-bottom: 30px;
        }

        @include breakpoint(tablet-lg) {
          text-align: center;
          width: 100%;
        }

        @include breakpoint(tablet) {
          font-size: 16px;
          width: 100%;
        }

        @include breakpoint(mobile-lg) {
          font-size: 15px;
          width: 100%;
        }

        @include breakpoint(mobile-sm) {
          font-size: 15px;
          width: 95%;
        }

        @include breakpoint(mobile-xs) {
          font-size: 15px;
          width: 100%;
        }
      }
    }

    .photo-grid {
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 65%;

      @include breakpoint(laptop) {
        width: 80%;
      }

      @include breakpoint(laptop-md) {
        width: 80%;
      }

      @include breakpoint(laptop-sm) {
        width: 50%;
      }

      @include breakpoint(tablet-lg) {
        width: 75%;
        margin-top: 50px;
      }

      @include breakpoint(mobile-lg) {
        width: 100%;
      }

      .two-pics {
        // border: 2px solid green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;

        @include breakpoint(desktop) {
          width: 70%;
        }

        @include breakpoint(laptop-sm) {
          width: 90%;
        }

        @include breakpoint(mobile-lg) {
          width: 100%;
        }

        .img-one {
          width: 45%;

          @include breakpoint(desktop) {
            width: 47%;
          }
        }

        .img-two {
          width: 45%;

          @include breakpoint(desktop) {
            width: 47%;
          }
        }
      }

      .one-pic {
        // border: 2px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin-top: 25px;

        @include breakpoint(desktop) {
          width: 70%;
        }

        @include breakpoint(laptop-sm) {
          width: 90%;
        }

        @include breakpoint(mobile-lg) {
          width: 100%;
        }

        @include breakpoint(mobile-md) {
          margin-top: 20px;
        }

        .img-three {
          width: 100%;
        }
      }
    }
  }
}
