@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.header {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 55px 0px;
  // height: 70vh;

  @include breakpoint(tablet-lg) {
    padding: 20px 0px;
  }

  .for-center-header {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;
    position: relative; // important for the pseudo-element
    display: flex;
    background: none; // remove the old background
    padding: 35px;
    border-radius: 20px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    // gap: 10px;

    @include breakpoint(xl-desktop) {
      width: 90%;
      // margin-top: 43px;
    }

    @include breakpoint(laptop-sm) {
      width: 95%;
    }

    @include breakpoint(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include breakpoint(mobile-lg) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/pics/bg1.jpg"); // your image
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.6; // adjust this value to make it lighter or darker
      z-index: 0; // behind content
    }

    > * {
      position: relative;
      z-index: 1;
    }
    .div-one {
      // border: 2px solid orange;
      display: flex;
      flex-direction: column;
      width: 60%;
      justify-content: center;

      @include breakpoint(laptop) {
        width: 50%;
      }

      @include breakpoint(tablet-lg) {
        width: 50%;
      }

      @include breakpoint(tablet) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      @include breakpoint(mobile-lg) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      h1 {
        font-size: 50px;
        line-height: 1.2;
        padding-bottom: 30px;
        color: #3e3e3e;
        font-weight: 600;

        @include breakpoint(laptop) {
          font-size: 45px;
          padding-bottom: 15px;
        }

        @include breakpoint(laptop-md) {
          font-size: 40px;
        }

        @include breakpoint(tablet-lg) {
          font-size: 35px;
        }

        @include breakpoint(tablet) {
          font-size: 42px;
          padding-bottom: 25px;
          line-height: 1.3;
          text-align: center;
        }

        @include breakpoint(tablet-sm) {
          font-size: 42px;
          padding-bottom: 25px;
        }

        @include breakpoint(mobile-lg) {
          text-align: center;
          font-size: 38px;
        }

        @include breakpoint(mobile) {
          font-size: 37px;
        }

        @include breakpoint(mobile-sm) {
          font-size: 34px;
        }

        @include breakpoint(mobile-xs) {
          font-size: 33px;
        }

        @include breakpoint(mobile-xxs) {
          font-size: 31px;
        }

        span.animated-underline {
          position: relative;
          display: inline-block;

          background: linear-gradient(90deg, #a58ed3, #8bc1f2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -6px;
            height: 3px;
            width: 100%;
            background: linear-gradient(90deg, #a58ed3, #8bc1f2);
            border-radius: 2px;

            transform: scaleX(0);
            transform-origin: left;
            animation: underlineGrow 1s ease-out forwards;
          }
        }
      }

      p {
        line-height: 1.5;
        font-size: 16px;
        padding-bottom: 25px;
        color: #8d8d8d;

        @include breakpoint(tablet) {
          font-size: 16px;
          text-align: center;
        }

        @include breakpoint(tablet-sm) {
          font-size: 16px;
        }

        @include breakpoint(mobile-lg) {
          text-align: center;
          font-size: 16px;
        }

        @include breakpoint(mobile-sm) {
          font-size: 15px;
        }

        @include breakpoint(mobile-xs) {
          font-size: 15px;
        }

        @include breakpoint(mobile-xxs) {
          font-size: 15px;
        }

        .little-bold {
          color: #8d8d8d;
          font-weight: 650;
          padding: 0px 5px;
        }
      }

      // .handling-button1 {
      //   border: 2px solid red;
      // }
    }

    .div-two {
      // border: 2px solid purple;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @include breakpoint(laptop) {
        width: 45%;
      }

      @include breakpoint(tablet-lg) {
        justify-content: none;
        width: 45%;
      }

      @include breakpoint(tablet) {
        width: 70%;
        margin-top: 35px;
      }

      @include breakpoint(tablet-sm) {
        width: 70%;
      }

      @include breakpoint(mobile-lg) {
        width: 100%;
        margin-top: 45px;
      }

      @include breakpoint(mobile-sm) {
        margin-top: 55px;
      }

      img {
        width: 100%;
      }
    }
  }
}


@keyframes underlineGrow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
