@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.button1 {
  // border: 2px solid green;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // padding: 20px;
  width: 20%;

  @include breakpoint(xl-desktop) {
    width: 25%;
  }

  @include breakpoint(laptop) {
    width: 35%;
  }

  @include breakpoint(tablet){
    width: 100%;
  }

  @include breakpoint(mobile-lg) {
    width: 100%;
  }

  .div-button {
    // border: 2px solid red;
    display: flex;
    // justify-content: center;
    align-items: center;

    h2 {
      font-size: 16px;
      color: #3e3e3e;

      @include breakpoint(tablet) {
        font-size: 16px;
      }

      @include breakpoint(tablet-sm) {
        font-size: 16px;
      }

      @include breakpoint(mobile-lg) {
        font-size: 17px;
      }

      @include breakpoint(mobile-sm) {
        font-size: 16px;
      }

      @include breakpoint(mobile-xs) {
        font-size: 14px;
      }
    }

    i {
      font-size: 16px;
      padding-left: 10px;
      color: #3e3e3e;

      @include breakpoint(tablet) {
        font-size: 16px;
      }

      @include breakpoint(tablet-sm) {
        font-size: 16px;
      }

      @include breakpoint(mobile-lg) {
        font-size: 17px;
      }

      @include breakpoint(mobile-sm) {
        font-size: 16px;
      }

      @include breakpoint(mobile-xs) {
        font-size: 14px;
      }
    }
  }

  .line-div {
    // height: 200px;
    border: 1px solid #3e3e3e;
    width: 130px;
    margin-top: 3px;

 

    @include breakpoint(tablet){
      width: 125px;
    }

       @include breakpoint(tablet-sm) {
      width: 125px;
    }

    @include breakpoint(mobile-lg) {
      width: 130px;
    }

    @include breakpoint(mobile-sm) {
      width: 125px;
    }

       @include breakpoint(mobile-xs){
    width: 115px;
      }
  }
}
