.form-box {
  position: relative;
  width: 560px;
  background: #fff;
  padding: 35px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;

  /* BLACK SHADOW LAYER */
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: 4px;
    z-index: -1;
  }

  .inner-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    input,
    textarea {
      width: 100%;
      padding: 12px 15px;
      font-size: 15px;
      border: 1px solid #ddd;
      background: #fafafa;
      border-radius: 4px;
      outline: none;
      transition: border-color 0.2s ease;

      &:focus {
        border-color: #9bbcff;
      }
    }

    textarea {
      min-height: 120px;
      resize: none;
    }

    .row {
      display: flex;
      gap: 14px;

      input {
        flex: 1;
      }
    }

    button {
      padding: 14px 18px;
      width: 100%;
      background: #333;
      color: white;
      font-weight: 700;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      letter-spacing: 2px;
      transition: 0.2s ease;
      background: linear-gradient(90deg, #98c8f9, #b39be8);
    }
  }
}
