@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.main05 {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px 0px;

  @include breakpoint(tablet){
    padding: 45px 0px;
  }

  .for-center-main05 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include breakpoint(desktop) {
      width: 90%;
    }

    @include breakpoint(laptop-sm) {
      width: 95%;
    }

    @include breakpoint(tablet-lg) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .pic-four {
      // border: 2px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;

      @include breakpoint(xl-desktop) {
        display: flex;
        justify-content: flex-start;
        width: 45%;
      }

      @include breakpoint(tablet-lg){
        margin-top: 35px;
        width: 90%;
      }

      img {
        width: 100%;
      }
    }

    .small-div-box {
      // border: 2px solid green;
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include breakpoint(tablet-lg) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
      }

      @include breakpoint(mobile-lg){
        width: 100%;
      }

      h2 {
        font-size: 40px;
        padding-bottom: 30px;
        color: #3e3e3e;
        font-weight: 600;
        line-height: 1.3;

        @include breakpoint(desktop) {
          font-size: 43px;
        }

        @include breakpoint(laptop) {
          font-size: 37px;
        }

        @include breakpoint(laptop-md) {
          font-size: 36px;
        }

        @include breakpoint(tablet-lg) {
          text-align: center;
          font-size: 35px;
        }

        @include breakpoint(mobile-lg){
          font-size: 29px;
        }

        @include breakpoint(mobile-sm){
          font-size: 27px;
        }

        @include breakpoint(mobile-xs){
          width: 100%;
        }

        @include breakpoint(mobile-xxs){
          width: 100%;
        }
      }

      .div-circle-text {
        // border: 2px solid blue;
        display: flex;
        flex-direction: column;

        // @include breakpoint(mobile-lg){
        //   display: flex;
        //   flex-direction: column;
        //   align-items: center;
        //   justify-content: center;
        // }

        p {
          padding-bottom: 16px;
          color: #8d8d8d;

          @include breakpoint(mobile-lg){
            font-size: 15px;
            text-align: center;
          }

          i {
            font-size: 8px;
            padding-right: 10px;
            color: #8d8d8d;
          }
        }
      }

      .button-two-div {
        // border: 2px solid purple;
        margin-top: 28px;
      }
    }
  }
}
