@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.icon-box {
  position: relative;
  background-color: #fff;
  padding: 25px;
  width: 80px;        /* smaller since it's icon-only */
  height: 80px;       /* square box */
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
//   cursor: pointer;

  /* Shadow block behind */
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: -1;
    border-radius: 4px;
    transition: transform 0.3s ease;
  }

  /* Hover animation */
//   &:hover::after {
//     transform: translate(2px, 2px);
//   }

  /* ICON styling */
  i {
    font-size: 50px;

    @include breakpoint(tablet-lg){
      font-size: 35px;
    }
 
  background: linear-gradient(90deg, #98c8f9, #b39be8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}
