@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.button3 {
  // border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 30%;
  background: linear-gradient(90deg, #77a8f5, #c9a8f0);

  h3 {
    font-size: 20px;
    color: white;

    @include breakpoint(mobile-lg){
      font-size: 15px;
    }
  }
}
